/* Edit_description.css */

/* Container styles */
.edit-description-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:100vw;
}

/* Title styles */
.edit-description-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* Patient name styles */
.edit-description-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #555;
}

/* Description styles */
.description-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

/* Input label styles */
.edit-description-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

/* Input field styles */
.edit-description-container input[type="text"],
.edit-description-container input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Submit button styles */
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}
